@font-face {
    src:url(olivier.ttf);
    font-family: Olivier;
}

html{
    width:100%;
}
body{
    height:100%;
    background:url('../img/paysage.jpg');
    background-size:270%;
    background-repeat: no-repeat;
    font-family: Raleway,Arial,sans-serif;
}
h1{
    font-size:1em;
}

.buttonmain{
    width:100%;
    text-align:center;
    margin:50px 0 80px 0 ;
}

#buttonshuffle{
    font-family:Olivier,sans-serif;
    background:none;
    font-size:3em;
    width:200px;
    height:200px;
    margin:auto;
    border-radius: 50%;
    color:white;
    border:2px solid black;
    text-align: center;
}

.app input:placeholder-shown {
    border:1px white solid;
    background:none;
    width:50%;
    padding:10px;
    border-radius: 5px;
    color:white;
    margin-bottom:50px;
}
.app input:placeholder {
     color:white;
 }
::-webkit-input-placeholder {
    color:white;
}
:-moz-placeholder {
    color:white;
}
::-moz-placeholder {
    color:white;
}
:-ms-input-placeholder {
    color:white;
}

.app{
    text-align: center;
}