@font-face {
    src:url(olivier.ttf);
    font-family: Olivier;
}

html{
    width:100%;
    height: 100%;
}
body{
    height:100%;
    margin: 0;
    padding:0; 
    background:url('../img/paysage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Raleway,Arial,sans-serif;
}
h1{
    font-size:1.2em;
}

/* ------------------      SOMMAIRE         ---------------------    */

/* système affichage  */

/* The animation code */

/* The element to apply the animation to */

/*   menu   */

/* Image Reponsive */

/*Page exploration*/




/* ------------------      DEBUT CSS         ---------------------    */

/*  système d'affichage  */

#accueil {

}
#postSeul {
    display:none;
}
#posts {
    display: none;
}
#compte {
    display: none;
}


/* The animation code */

@keyframes rotation_btn {
    from {}

    60% { -webkit-transform: rotate(360deg); transform:rotate(360deg);}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);}

}

/* The element to apply the animation to */

.buttonmain{
    padding-top: 50px;
    width:100%;
    text-align:center;
}
#buttonshuffle img {
    bottom:40%;
    position: absolute;
    width: 50%;
    max-width: 200px;

    right: 25%;
    
}
.tourner {
    animation-name: rotation_btn;
    animation-duration: 5s;

    animation-iteration-count: 8;
}

#buttonshuffle{
    font-family:Olivier,sans-serif;
    margin: auto;
    background:none;
    font-size:3em;
    width:60%;
    max-width: 220px;
    text-align: center;
}

.app input:placeholder-shown {
    border:1px rgba(255,255,255,0.7) solid;
    font-size: 1.2em;
    background:none;
    width:50%;
    padding:10px;
    border-radius: 5px;
    color:white;
    margin-bottom:50px;
}
.app input:placeholder {
     color:rgba(255,255,255,0.8);
 }
::-webkit-input-placeholder {
    color:rgba(255,255,255,0.8);
}
:-moz-placeholder {
    color:rgba(255,255,255,0.8);
}
::-moz-placeholder {
    color:rgba(255,255,255,0.8);
}
:-ms-input-placeholder {
    color:rgba(255,255,255,0.8);
}

.app{
    text-align: center;
}
.app h1 {
    position: absolute;
    text-align: center;
    width: 90%;
    bottom:10%;
    padding: 5%;
   
    color: rgba(255,255,255,0.8);
}


/*   menu   */
.iconmenu{
    color:white;
    font-size:2em;
    padding:0 5% 0 5%;
    position: absolute;
    bottom:5px;
    width:90%;
}

.iconmenu a{
    color:white;
}

.iconmenu .fa-search{
    float:right;
}
.iconmenu .fa-home{
    float:left;
}

/* Image Responsive */

.img-responsive{
    max-width:100%;
}

/* Page Exploration */

.exp-feed{
    background:white;
    padding-top:50px;
    width:auto;
    height:100%;
}

.exp-feed h2{
    font-family: Olivier, sans-serif;
    font-size:3em;
    position:relative;
}
.exp-head{
    height:50px;
    position:fixed;
    width:100%;
    top:0;
    padding:0;
}
.exp-head h2{
    margin-top:10px;

}
.exp-single{
    text-align: justify;
    float:left;
    height: 100% !important;
}

.swiper-container {
    margin: 20px auto;
}
/*
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    !* Center slide text vertically *!
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}*/
