@font-face {
    src:url(olivier.ttf);
    font-family: Olivier;
}

html{
    width:100%;
    height: 100%;
}
body{
    height:100%;
    margin: 0;
    padding:0; 
    background:url('../img/paysage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Raleway,Arial,sans-serif;
}
h1{
    font-size:1em;
}

.buttonmain{
    padding-top: 50px;
    width:100%;
    text-align:center;
}
#buttonshuffle img {
    width: 100%;
}

#buttonshuffle{
    font-family:Olivier,sans-serif;
    margin: auto;
    background:none;
    font-size:3em;
    width:60%;
    max-width: 220px;
    text-align: center;
}

.app input:placeholder-shown {
    border:1px rgba(255,255,255,0.7) solid;
    background:none;
    width:50%;
    padding:10px;
    border-radius: 5px;
    color:white;
    margin-bottom:50px;
}
.app input:placeholder {
     color:rgba(255,255,255,0.8);
 }
::-webkit-input-placeholder {
    color:rgba(255,255,255,0.8);
}
:-moz-placeholder {
    color:rgba(255,255,255,0.8);
}
::-moz-placeholder {
    color:rgba(255,255,255,0.8);
}
:-ms-input-placeholder {
    color:rgba(255,255,255,0.8);
}

.app{
    text-align: center;
}
.app h1 {
    position: absolute;
    text-align: center;
    width: 90%;
    bottom:10%;
    padding: 5%;
   
    color: rgba(255,255,255,0.8);
}
.iconmenu{
    color:white;
    font-size:2em;
    padding:0 5% 0 5%;
    position: absolute;
    bottom:5px;
    width:90%;
}